.subscribe-letter {
    margin: 0 120px;
    padding-top: 200px;
}
.subscribe-letter .container {
    max-width: 1680px;
    height: 450px;
    width: 100%;
    background-color: #F5F5F5;
    z-index: 1;
    position: relative;
}

.subscribe-letter .container .subscribe-form-wrapper {
    width: 624px;
    height: 288px;
    z-index: 2;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 60px;
    margin: 0 0 0 270px;
    position: relative;
}

.subscribe-letter .container .subscribe-form-wrapper .dots-background {
    position: absolute;
    top: 35px;
    left: 525px;
    transform: translate(-50%, -50%);

}

.subscribe-letter .container .subscribe-form-wrapper .info .title {
    font-family: Josefin Sans;
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 16px 0;
}

.subscribe-letter .container .subscribe-form-wrapper .info .description {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 40px 0;
}

.subscribe-letter .container .subscribe-form-wrapper .subscribe-form {
    display: flex;
    gap: 36px;
}

.subscribe-letter .container .subscribe-form-wrapper .subscribe-form .input {
    width: 360px;
    height: 40px;
    border-bottom: 1px solid #E0E0E0;
}

.subscribe-letter .container .subscribe-form-wrapper .subscribe-form .button-wrapper {
    display: flex;
}

.subscribe-letter .container .subscribe-form-wrapper .subscribe-form .button-wrapper .button {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: rgba(0, 0, 0, 1);
    width: 140px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding: 17px 0;
}

